@font-face {
    font-family: 'Oxygen', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
  }

  @font-face {
    font-family: 'Fira Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
  }

body{
    background-color: #f5f1ed;
}

.section-nav{
    background-color: #DAD2BC;
    height: 10rem;
    display: block;
}

.nav{
    display: block;
}

.nav-link{
    text-decoration: none;
    background-color: #DAD2BC;
    color: #252323;
    font-family: 'Oxygen', sans-serif;
    border: 1rem solid #DAD2BC;
    box-shadow: 0 3px 10px #252323;
    border-radius: 1rem;
}

.nav-link-active{
    text-decoration: none;
    background-color: #E8E2D5;
    color: #1C1A1A;
    font-family: 'Oxygen', sans-serif;
    border: 1rem solid #E8E2D5;
    box-shadow: 0 3px 10px #252323;
    border-radius: 1rem;
}

