@font-face {
    font-family: 'Oxygen', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
}

@font-face {
    font-family: 'Fira Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
}

html,
body {
    margin: 0;
    background-color: #f5f1ed;
}

.section-nav {
    background-color: #DAD2BC;
    height: 8rem;
    display: block;
}

.nav {
    display: block;
    margin-left: 2rem;
}

.nav-link {
    text-decoration: none;
    background-color: #DAD2BC;
    color: #252323;
    font-family: 'Oxygen', sans-serif;
    border: 1rem solid #DAD2BC;
    box-shadow: 0 3px 10px #252323;
    border-radius: 2rem;
    display: inline-block;
    margin-top: 2rem;
}

.nav-link:hover {
    text-decoration: none;
    background-color: #DAD2BC;
    color: #252324;
    font-family: 'Oxygen', sans-serif;
    border: 1rem solid #DAD2BC;
    box-shadow: 0 5px 12px #252323;
    border-radius: 2rem;
    display: inline-block;
    margin-top: 2rem;
}

.nav-link-active {
    text-decoration: none;
    background-color: #E8E2D5;
    color: #1C1A1A;
    font-family: 'Oxygen', sans-serif;
    border: 1rem solid #E8E2D5;
    border-radius: 2rem;
}

.content {
    min-height: 90%;
}

.content-inside {
    padding: 20px;
    padding-bottom: 50px;
}

.content {
    min-height: 100%;
}

.content-inside {
    padding: 20px;
    padding-bottom: 50px;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin-left: 1rem;
    margin-right: 1rem;
}

.page-header,
.page-footer {
    flex-shrink: 0;
}

.page-footer{
    background-color: #DAD2BC;
    display: block;
   border: 2px solid black ;
}

.page-body {
    flex-grow: 1;
}

.breadcrumb{
    font-size: small;
    padding-left: 2.5rem;
}

li {
    direction: none;
}

/*Conact card*/
.id-card {
    display: block;
    justify-content: center;
}

.card-header{

}

.pic-circle {

}

.card-content{

}

.contact-form{
    max-width: 50px;
}

.form-label{
    margin-bottom: 1rem;
}

.cta-bt {
    margin-top: 1rem;
    background-color: #252323;
    border-radius: 4%;
}